<div class="container-fluid">
	<div class="items col-md-7 col-md-offset-1 col-xs-7 col-xs-offset-1">
		<div class="well row">
			<legend>Sandwiches</legend>
			<div class="grid-card">
			  <% @sand.each do |sand|%>
					<div class="col-lg-3 col-md-3 col-xs-6 thumbnail padded">
						<img src = <%= sand.image%> />
						<div class="caption">
							<legend class='name'><%= sand.name%></legend>
							<h4>Price : </h4>
							<h4 class= 'price'> <%= sand.price%> </h4>
							<h4> Rs </h4>
							<div>
								<div class="form-group">
									<input class = 'number form-control' min="0" type = 'number'></input>
								</div>
								<button class = 'cart btn btn-default btn-primary stretched'> Add To Cart </button>
							</div>
						</div>
					</div>
				<%end%>
			</div>
		</div>
		<div class="well row">
			<legend>Burgers</legend>
			<div class="grid-card">
				<% @bur.each do |bur|%>
					<div class="col-lg-3 col-md-3 col-xs-6 thumbnail padded">
						<img src = <%= bur.image%> />
						<div class="caption">
							<legend class='name'><%= bur.name%></legend>
							<h4>Price : </h4>
							<h4 class= 'price'> <%= bur.price%> </h4>
							<h4> Rs </h4>
							<div>
								<div class="form-group">
									<input class = 'number form-control' min="0" type = 'number'></input>
								</div>
								<button class = 'cart btn btn-default btn-primary stretched'> Add To Cart </button>
							</div>
						</div>
					</div>
				<%end%>
			</div>
		</div>
		<div class="well row">
			<legend>Indian Buns</legend>
			<div class="grid-card">
			  <% @ind.each do |ind|%>
					<div class="col-lg-3 col-md-3 col-xs-6 thumbnail padded">
						<img src = <%= ind.image%> />
						<div class="caption">
							<legend class='name'><%= ind.name%></legend>
							<h4>Price : </h4>
							<h4 class= 'price'> <%= ind.price%> </h4>
							<h4> Rs </h4>
							<div>
								<div class="form-group">
									<input class = 'number form-control' min="0" type = 'number'></input>
								</div>
								<button class = 'cart btn btn-default btn-primary stretched'> Add To Cart </button>
							</div>
						</div>
					</div>
				<%end%>
			</div>
		</div>
		<div class="well row">
			<legend>Paratha</legend>
			<div class="grid-card">
				<% @par.each do |par|%>
					<div class="col-lg-3 col-md-3 col-xs-6 thumbnail padded">
						<img src = <%= par.image%> />
						<div class="caption">
							<legend class='name'><%= par.name%></legend>
							<h4>Price : </h4>
							<h4 class= 'price'> <%= par.price%> </h4>
							<h4> Rs </h4>
							<div>
								<div class="form-group">
									<input class = 'number form-control' min="0" type = 'number'></input>
								</div>
								<button class = 'cart btn btn-default btn-primary stretched'> Add To Cart </button>
							</div>
						</div>
					</div>
				<%end%>
			</div>
		</div>
		<div class="well row">
			<legend>Maggi</legend>
			<div class="grid-card">
			  <% @mag.each do |mag|%>
					<div class="col-lg-3 col-md-3 col-xs-6 thumbnail padded">
						<img src = <%= mag.image%> />
						<div class="caption">
							<legend class='name'><%= mag.name%></legend>
							<h4>Price : </h4>
							<h4 class= 'price'> <%= mag.price%> </h4>
							<h4> Rs </h4>
							<div>
								<div class="form-group">
									<input class = 'number form-control' min="0" type = 'number'></input>
								</div>
								<button class = 'cart btn btn-default btn-primary stretched'> Add To Cart </button>
							</div>
						</div>
					</div>
				<%end%>
			</div>
		</div>
		<div class="well row">
			<legend>Drinks</legend>
			<div class="grid-card">
				<% @drinks.each do |drinks|%>
					<div class="col-lg-3 col-md-3 col-xs-6 thumbnail padded">
						<img src = <%= drinks.image%> />
						<div class="caption">
							<legend class='name'><%= drinks.name%></legend>
							<h4>Price : </h4>
							<h4 class= 'price'> <%= drinks.price%> </h4>
							<h4> Rs </h4>
							<div class="">
								<div class="form-group">
									<input class = 'number form-control' min="0" type = 'number'></input>
								</div>
								<button class = 'cart btn btn-default btn-primary stretched'> Add To Cart </button>
							</div>
						</div>
					</div>
				<%end%>
			</div>
		</div>
	</div>
	<div class="myCart cart-container col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1 well side-padded">
		<legend>Cart</legend>
		<div class="items">
		</div>
		<h3 class="total">Cart Empty</h3>
		<button type="button" class="getFood anchor-btn btn btn-primary" name="button">
			Order Food
		</button>
	</div>
	<div class="row top-buffer">

	</div>
</div>
