<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="well">
				<legend>Our Hotels</legend>
				<% @hotel.each do |i| %>
					<div class="form-group">
					<h2><%= i.name%></h2>
					<h3><%= i.contact %> </h3>
					<h3><%= i.id %></h3>
					<%= link_to "Show" , i %>
					<%= link_to "Delete" , i , method: :delete %>
					</div>
				<% end %>
			</div>
		</div>

	<div class="row top-buffer"></div>

	  <div class="myCart">
	    <!-- <button type="button" id='getFood'>Get me my FOOD!</button> -->
	  <%=  link_to "Get Food", controller: "static_pages", action: "mailer" %>
	    <h3 id="total"></h3>
	  </div>
	  <div class="row">


	 <!--  Just to test the ajac functionality
	 <%= form_for(root_path, :method => "post", html: {id: "test_form" } , remote: true) do %>
	<%= text_field_tag :search, params[:search], placeholder: "Displaythis" %>
	<%= submit_tag "Search" %>
	<% end %> -->




	   <%= form_for( root_path , :method => "post", html: {id: "test_form" } , remote: true) do |f|  %>
	    <!-- <%= f.collection_select :id , @hotel, :id, :name,  {:include_blank => 'Please Select The Hotel'} %> -->
	    <%= select_tag 'id', options_from_collection_for_select(@hotel, :id, :name) , {:include_blank => 'Please Select The Hotel'} %>
	    <%= submit_tag "Go!" %>
	  <% end %>


	  <div id = "data">

	  </div>

	</div>
</div>