<h2>
	Edit
</h2>

<div>
<%= simple_form_for @hotel do |f| %>
  <%= f.input :name %>
  <%= f.input :contact %>


<div class = 'row'>
	<div class = 'col-md-6'>
	<h2>
		Items
	</h2>

  <%= f.simple_fields_for :items do |i| %>
	  <div class='links'>
    <%= render 'item_fields', f: i %>
	</div>
  <% end %>
  <%= link_to_add_association 'Add Item', f, :items %>

	</div>
</div>



<%= f.submit %>
<% end %>



</div>
