

<h2>
	Add Hotel
</h2>

<div class="container-fluid">
	<div class="row col-lg-12">
		<div class="form-horizontal">
			<%= simple_form_for @hotel do |f| %>
				<div class="form-group">
					<%= f.input :name, input_wrap_html: { class: "col-lg-10"} ,label_html: { class: "col-lg-2 control-label"}, label: "<span> Hotel Name </span>".html_safe %>
				</div>
				<div class="form-group">
					<%= f.input :contact, input_wrap_html: { class: "col-lg-10"} ,label_html: { class: "col-lg-2 control-label"}, label: "<span>Contact</span>".html_safe %>
				</div>
		</div>
	</div>

	<div class = 'row'>
		<div class = 'col-md-6'>
		<h2>
			Items
		</h2>

	  <%= f.simple_fields_for :items do |i| %>
	    <%= render 'item_fields', :f => i %>
	  <% end %>
	  <%= link_to_add_association 'Add Item', f, :items %>

	</div>
</div>



<%= f.submit %>
<% end %>



</div>


