<h1>
	name = <%= @hotel.name %>
</h1>

description = <%= @hotel.contact %>

<p>
:id = <%= @hotel.id%>

</p>

<p>
	Helper accessing the hotel === <%= add @hotel %>
</p>



<%= link_to "Edit" , edit_hotel_path %>
<%= link_to "Delete" , hotel_path , method: :delete %>

<h1>
	Bam!
</h1>